body {
    margin: 0;
    padding: 0;
}

#topBlueElement {
    background-color: #15aff0;
    height: 10vh;
    width: 80%;
    position: absolute;
    top: 0;
    margin-left: 10%;
}

#bottomBlueElement {
    background-color: #15aff0;
    height: 10vh;
    width: 80%;
    position: absolute;
    bottom: 0;
    margin-left: 10%;
}

#leftYellowElement {
    background-color: rgb(255, 207, 17);
    height: 100vh;
    width: 10%;
    float: left;
    margin-left: 10%;
}

#rightYellowElement {
    background-color: rgb(255, 207, 17);
    height: 100vh;
    width: 10%;
    float: right;
    margin-right: 10%;
}

#content {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10vh;
    padding: 20px;
}

span.highlight {
    color: rgb(14, 209, 183);
  }
  