/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.table-layout table {
    width: 100%;
    border-collapse: collapse;
}

.table-layout th, .table-layout td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.block-layout .header h1 {
    background-color: #f2f2f2;
    padding: 10px;
}

.block-layout .content {
    background-color: #e8e8e8;
    padding: 20px;
}

.block-layout .content p {
    margin-bottom: 10px;
}

.block-layout .content ul {
    list-style-type: none;
    padding: 0;
}

.block-layout .content li {
    background-color: #ddd;
    padding: 8px;
    margin-bottom: 4px;
}

/* Реакція на курсор миші */
.block-layout .content li:hover {
    background-color: #ccc;
}

